@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --colorOne: #0e142e;
    --colorTwo: #F7C982;
    --colorThree: #3061E3;
    --colorFour:#FEFFFE;
    --colorFive:#DB2429;
    --border: solid 2px var(--colorTwo);
    --fontOne: 'Press Start 2P', cursive;
    --fontTwo: 'VT323', monospace;
}

/* ----------------------- MAIN CONTENT STYLES ----------------------- */
html, body {
    width: 100%;
    /* height: 100%; */
    background-color: var(--colorThree);
    user-select: none;
}

header {
    display: flex;
    border: var(--border);
    justify-content:space-evenly;
    align-items: center;
    font-family: var(--fontOne);
    font-size: 70%;
    color: var(--colorFour);
    margin-left: 30px;
    margin-right: 30px;
    /* text-align: center; */
}

footer {
    display: flex;
    border: var(--border);
    justify-content:space-evenly;
    align-items: center;
    font-family: var(--fontOne);
    color: var(--colorFour);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 3%;
    text-align: center;
}

footer p {
    color: var(--colorFour);
}

a {
    color: var(--colorFour);
} 

a:active {
    color:var(--colorTwo);
}

#joystick {
    font-size: 3vh;
}

/* ----------------------- THEME CONTAINER STYLES ----------------------- */

.themeContainer {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.colorTheme {
    background-color: var(--colorTwo);
    border: none;
    border-radius: 40%;
    margin: 10%;
    color:var(--colorFive);
    padding: 10px;
    font-family: var(--fontTwo);
    font-size: 3vh;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 5px #999;
}

/* ----------------------- THEME BUTTON STYLES ----------------------- */

#default {
    background-color: var(--colorFive);
    border: solid 2px var(--colorOne)
}

#default:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#default:hover {
    background: var(--colorOne);
    color: #fff;
}


#sonic {
    background-color:#0156AC;
    border: solid 2px var(--colorFour);
    color:#0156AC
}

#sonic:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#sonic:hover {
    background-color:var(--colorFour);
    color:#0156AC;
    border: solid 2px #0156AC;
}

#zelda {
    background-color: #0d9263;
    color:#0d9263;
    border: solid 2px #d4ce46;
}

#zelda:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#zelda:hover {
    background-color: #d4ce46;
    color:#0d9263;
}


/* ----------------------- METRONOME CONTENT ----------------------- */

.metronome {
    margin: 1.5% 3% 1.5% 3%;
    border: var(--border);   
}

.bpm-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: var(--colorFour);
    font-family: var(--fontOne);
}

.tempo {
    display: inline;
    font-size: 3vw;    
}

.bpm {
    display: inline;
    font-size: 2vw;  
}

.tempo-text {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center; 
}

.tempo-settings {
    display: flex;
    justify-content: space-evenly;   
}

.tempo-settings button {
    background-color: var(--colorThree);
    border-color: var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFour);
    padding: 20px;
    width: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.tempo-settings button:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}

.slider {
    width: 35vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
}
input[type="range"]:-focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--colorFour);
    margin-top: -8px;    
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--colorFour); 
    border: none;   
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background-color: var(--colorFour);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 1px;
    background-color: var(--colorFour);
}

/* ----------------------- START BUTTON STYLES ----------------------- */

#startStopcontainer {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


.start-stop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--colorThree);
    border: solid 2px var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFour);
    padding: 20px;
    width: 30%;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.start-stop:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}


/* ----------------------- BEATS STYLES ----------------------- */
.beats {
    font-family: var(--fontTwo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 50px auto 50px;
}

.beats button {
    background-color: var(--colorThree);
    border: solid 2px var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFour);
    padding: 20px;
    width: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.beats button:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}

.beats p {
    font-size: 4vw;
    color: var(--colorFour);
}

.beatsPerMeasureTxt {
    display: flex;
    justify-content: space-around;
    color: var(--colorFour);
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorThree);
    border: none;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 28px;
    color: var(--colorTwo);
    width: 5vw;
    height: 5vh;
    font-family: var(--font);
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
}

.stepper:hover {
    background: var(--colorOne);
    color: #fff;
}

/* ----------------------- FORM STYLES ----------------------- */
.formArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 3% 2% 3%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--colorTwo);
    border-radius: 4px;
    background-color: var(--colorThree);
    font-size: 16px;
    resize: none;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorThree);
    border: solid 2px var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 5vw;
    color:var(--colorFour);
    width: 15vw;
    height: 5vh;
    transition-duration: 0.4s;
    cursor: pointer;
}

.note:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}

#noteBtnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    width: 55%;
}

.note-textarea {
    resize: none;
    width: 50vw;
    height: 15vh;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--fontTwo);
    font-size: larger;
}






/* ----------------------- MISC CONTENT STYLES ----------------------- */
#date {
    font-family: var(--fontTwo);
    font-size:x-large;
    color: var(--colorFour);
}








/* iPhone 12 Portrait */
@media only screen and (min-width: 100px) and (max-width: 844px) and (orientation: portrait) {
    /* ----------------------- MAIN CONTENT STYLES ----------------------- */
    html, body {
        width: 100%;
        margin-top: 15px;
        background-color: var(--colorThree);
        user-select: none;
    }
    
    header {
        display: flex;
        border: var(--border);
        justify-content:space-evenly;
        align-items: center;
        font-family: var(--fontOne);
        font-size: 40%;
        color: var(--colorFour);
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    footer {
        display: flex;
        border: var(--border);
        justify-content:space-evenly;
        align-items: center;
        font-size: 40%;
        font-family: var(--fontOne);
        color: var(--colorFour);
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 3%;
        text-align: center;
    }
    
    footer p {
        color: var(--colorFour);
    }
    
    a {
        color: var(--colorFour);
    } 
    
    a:active {
        color:var(--colorTwo);
    }
    
    #joystick {
        font-size: 3vh;
    }
    
    /* ----------------------- THEME CONTAINER STYLES ----------------------- */
    
    .themeContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 30px;
    }
    
    .colorTheme {
        background-color: var(--colorTwo);
        border: none;
        border-radius: 40%;
        margin: 10%;
        color:var(--colorFive);
        padding: 10px;
        font-family: var(--fontTwo);
        font-size: 3vh;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: 0 5px #999;
    }
    
    /* ----------------------- THEME BUTTON STYLES ----------------------- */
    
    #default {
        background-color: var(--colorFive);
        border: solid 2px var(--colorOne)
    }
    
    #default:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
    #default:hover {
        background: var(--colorOne);
        color: #fff;
    }
    
    
    #sonic {
        background-color:#0156AC;
        border: solid 2px var(--colorFour);
        color:#0156AC
    }
    
    #sonic:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
    
    #sonic:hover {
        background-color:var(--colorFour);
        color:#0156AC;
        border: solid 2px #0156AC;
    }
    
    #zelda {
        background-color: #0d9263;
        color:#0d9263;
        border: solid 2px #d4ce46;
    }
    
    #zelda:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
    #zelda:hover {
        background-color: #d4ce46;
        color:#0d9263;
    }
    
/* ----------------------- METRONOME CONTENT ----------------------- */

.metronome {
    margin: 1.5% 3% 1.5% 3%;
    border: solid var(--colorTwo);   
}

.bpm-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: var(--colorFour);
    font-family: var(--fontOne);
}

.tempo {
    display: inline;
    font-size: 3vw;    
}

.bpm {
    display: inline;
    font-size: 2vw;  
}

.tempo-text {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center; 
}

.tempo-settings {
    display: flex;
    justify-content: space-evenly;   
}

.tempo-settings button {
    background-color: var(--colorThree);
    border-color: var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFour);
    padding: 20px;
    width: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.tempo-settings button:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}

.slider {
    width: 35vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
}
input[type="range"]:-focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--colorFour);
    margin-top: -8px;    
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--colorFour); 
    border: none;   
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background-color: var(--colorFour);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 1px;
    background-color: var(--colorFour);
}

/* ----------------------- START BUTTON STYLES ----------------------- */

#startStopcontainer {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


.start-stop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--colorThree);
    border: solid 2px var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFour);
    padding: 20px;
    width: 30%;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.start-stop:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}


/* ----------------------- BEATS STYLES ----------------------- */
.beats {
    font-family: var(--fontTwo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 50px auto 50px;
}

.beats button {
    background-color: var(--colorThree);
    border: solid 2px var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFour);
    padding: 20px;
    width: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.beats button:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}

.beats p {
    font-size: 4vw;
    color: var(--colorFour);
}

.beatsPerMeasureTxt {
    display: flex;
    justify-content: space-around;
    color: var(--colorFour);
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorThree);
    border: none;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 28px;
    color: var(--colorTwo);
    width: 5vw;
    height: 5vh;
    font-family: var(--font);
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
}

.stepper:hover {
    background: var(--colorOne);
    color: #fff;
}

/* ----------------------- FORM STYLES ----------------------- */
.formArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 3% 2% 3%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--colorTwo);
    border-radius: 4px;
    background-color: var(--colorThree);
    font-size: 16px;
    resize: none;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorThree);
    border: solid 2px var(--colorTwo);
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 3vw;
    color:var(--colorFour);
    width: 15vw;
    height: 5vh;
    transition-duration: 0.4s;
    cursor: pointer;
}

.note:hover {
    background: var(--colorFour);
    color: var(--colorThree);
}

#noteBtnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    width: 55%;
}

.note-textarea {
    resize: none;
    width: 50vw;
    height: 15vh;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--fontTwo);
    font-size: larger;
  }



/* ----------------------- MISC CONTENT STYLES ----------------------- */
#date {
    font-family: var(--fontTwo);
    font-size:x-large;
    color: var(--colorFour);
}
}


/* iPhone 12 Landscape */
@media only screen and (min-width: 844px) and (max-width: 375px) and (orientation: landscape) {
    /* Your CSS styling for iPhone 12 in landscape orientation */
  }

