@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --colorOne: #0d0c0c;
    --colorTwo: #a5a2a2;
    --colorThree: #e5e5e5;
    --colorFour:#ffffff;
    --colorFive:#dd2020;
    --border: 4px solid #333;
    --fontOne: 'Press Start 2P', cursive;
    --fontTwo: 'VT323', monospace;
}


html, body {
    width: 100%;
    height: 100%;
    background-color: var(--colorThree);
    user-select: none;
}

header {
    display: flex;
    border: solid var(--colorOne);
    justify-content:space-around;
    font-family: var(--fontOne);
    color: var(--colorOne);
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}


/* .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 5px;
}  */

.metronome {

    margin: 3%;
    border: solid var(--colorTwo);
/*     width: 100%;
    height: 100%; */
   
}

.bpm-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: var(--colorOne);
    font-family: var(--fontOne);
}

.tempo {
    display: inline;
    font-size: 3vw;    
}

.bpm {
    display: inline;
    font-size: 2vw;  
}

.tempo-text {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center; 
}

.tempo-settings {
    display: flex;
    justify-content: space-evenly;   
}

.tempo-settings button {
    background-color: var(--colorTwo);
    border: none;
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFive);
    padding: 20px;
    width: 10%;
}

.slider {
    width: 35vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
}
input[type="range"]:-focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--colorOne);
    margin-top: -8px;    
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--colorOne); 
    border: none;   
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background-color: var(--colorOne);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 1px;
    background-color: var(--colorOne);
}

#startStopcontainer {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


.start-stop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--colorTwo);
    border: none;
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFive);
    padding: 20px;
    width: 30%;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.start-stop:hover {
    background: var(--colorTwo)
}



.measures {
    font-family: var(--fontTwo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.measures button {
    background-color: var(--colorTwo);
    border: none;
    border-radius: 10px;
    font-family: var(--fontTwo);
    font-size: 4vw;
    color:var(--colorFive);
    padding: 20px;
    width: 10%;
}

.measures p {
    font-size: 3vw;
    padding-left: 15%;
    padding-right: 15%;
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorThree);
    border: none;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 28px;
    color: var(--colorTwo);
    width: 5vw;
    height: 5vh;
    font-family: var(--font);
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
}

.stepper:hover {
    background: var(--colorOne);
    color: #fff;
}




.measure-count {
    


}