@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=VT323&family=Press+Start+2P&display=swap");

:root {
  --colorOne: #201d1d;
  --colorTwo: #afacac;
  --colorThree: #e5e5e5;
  --colorFour: #ffffff;
  --red: #db5b41;

  --border: 2px solid var(--colorOne);
  --margin: 1.5% 3% 1.5% 3%;

  --fontOne: "Press Start 2P", cursive;
  --fontTwo: "VT323", monospace;
  --fontSizeOne: 0.8vw;
  --fontSizeTwo: 2.8vw;
  --fontSizeThree: 2.2vw;
}

/* ----------------------- MAIN CONTENT STYLES ----------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

header,
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--fontOne);
  color: var(--colorOne);
  margin: var(--margin);
  text-align: center;
}

h1 {
  font-size: 3vh;
}

header p {
  font-size: 1vh;
}

footer p {
  color: var(--colorOne);
}

a {
  color: var(--colorOne);
}

a:active {
  color: var(--colorFive);
}

#joystick {
  font-size: 3vh;
}

/* ----------------------- THEME CONTAINER STYLES ----------------------- */

.themeContainer {
  display: flex;
  justify-content: space-evenly;
}

.colorTheme {
  background-color: var(--colorTwo);
  border: none;
  border-radius: 40%;
  margin: 10%;
  color: var(--colorFive);
  padding: 10px;
  font-family: var(--fontTwo);
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 5px #999;
}

/* ----------------------- THEME BUTTON STYLES ----------------------- */

#default {
  background-color: var(--colorTwo);
  border: solid 2px var(--colorOne);
  color: var(--colorTwo);
}

#default:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#default:hover {
  background: var(--colorTwo);
  color: var(--colorOne);
}

#sonic {
  background-color: #0156ac;
  border: solid 2px var(--colorFour);
  color: #0156ac;
}

#sonic:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#sonic:hover {
  background-color: var(--colorFour);
  color: #0156ac;
  border: solid 2px #0156ac;
}

#zelda {
  background-color: #0d9263;
  color: #0d9263;
  border: solid 2px #d4ce46;
}

#zelda:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#zelda:hover {
  background-color: #d4ce46;
  color: #0d9263;
}

/* ----------------------- METRONOME CONTENT ----------------------- */

.metronome {
  margin: var(--margin);
}

.bpm-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: var(--fontSizeOne);
  color: var(--colorOne);
  font-family: var(--fontOne);
}

.tempo-settings {
  display: flex;
  justify-content: center;
}

.nes-btn.tempo-btn {
  border-image-repeat: initial;
  background-color: var(--red);
  font-size: var(--fontSizeThree);
  color: var(--colorOne);
  transition-duration: 0.4s;
}

.nes-btn.tempo-btn::after {
  box-shadow: inset -4px -4px #811315;
}

.tempo-btn:hover {
  background: var(--colorOne);
  color: #fff;
}

.slider {
  width: 35vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--colorOne);
  height: 36px;
  width: 20px;
  border-radius: 8px;
  background: var(--colorTwo);
  cursor: pointer;
  margin-top: -15px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--colorOne);
  height: 36px;
  width: 20px;
  border-radius: 8px;
  background: var(--colorTwo);
  cursor: pointer;
  margin-top: -15px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 25rem;
  height: 0.3rem;
  border-radius: 5px;
  background-color: var(--red);
}

input[type="range"]::-moz-range-track {
  width: 25rem;
  height: 0.3rem;
  border-radius: 5px;
  background-color: var(--colorFive);
}

/* ----------------------- START BUTTON STYLES ----------------------- */

#startStopcontainer {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.start-stop {
  display: flex;
  align-items: flex-end;
  font-size: var(--fontSizeThree);
}

.start-stop:hover {
  background: var(--colorOne);
  color: #fff;
}

/* ----------------------- BEATS STYLES ----------------------- */
.beats {
  font-family: var(--fontTwo);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 50px auto 50px;
}

.beats button {
  background-color: var(--colorTwo);
  border: none;
  border-radius: 10px;
  font-family: var(--fontTwo);
  font-size: var(--fontSizeTwo);
  color: var(--colorFive);
  padding: 20px;
  width: 5%;
  transition-duration: 0.4s;
  cursor: pointer;
}

.beats button:hover {
  background: var(--colorOne);
  color: #fff;
}

.beats p {
  font-size: 2.5vw;
}

.beatsPerMeasureTxt {
  display: flex;
  justify-content: space-around;
}

.time-blocks-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-blocks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 33%;
  justify-content: space-around;
  max-width: 33%;
}

.time-block {
  width: 60px;
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(14, 14, 14);
  font-size: 1.5rem;
  font-family: var(--fontOne);
  border: 2px solid var(--colorOne);
  transition: background-color 0.3s;
}

.time-block.active {
  color: var(--colorFour);
  background-color: #0d0d0da8;
}

/* ----------------------- FORM STYLES ----------------------- */
.formArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 3% 2% 3%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--colorOne);
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorTwo);
  border: none;
  border-radius: 10px;
  font-family: var(--fontTwo);
  font-size: 1.7vw;
  color: var(--colorFive);
  width: 12.5vw;
  height: 7vh;
  transition-duration: 0.4s;
  cursor: pointer;
}

.note:hover {
  background: var(--colorOne);
  color: #fff;
}

#noteBtnContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
  width: 55%;
}

.note-textarea {
  display: flex;
  resize: inherit;
  width: 42vw;
  height: 25vh;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--fontTwo);
  font-size: 1.2vw;
}

.timer {
  font-family: var(--fontTwo);
  color: var(--colorOne);
}

/* ----------------------- MISC CONTENT STYLES ----------------------- */
#date {
  font-family: var(--fontTwo);
  font-size: x-large;
  color: var(--colorFive);
}

/* iPhone 12 Portrait */
@media only screen and (min-width: 320px) and (max-width: 1180px) and (orientation: portrait) {
  /* ----------------------- MAIN CONTENT STYLES ----------------------- */
}
