@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=VT323&family=Press+Start+2P&display=swap");

:root {
  --colorOne: #201d1d;
  --colorTwo: #afacac;
  --colorThree: #e5e5e5;
  --colorFour: #ffffff;
  --red: #db5b41;

  --border: 5px solid var(--colorOne);

  --size-6: 0.375rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-70: 4.375rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-110: 6.875rem;
  --size-120: 7.5rem;
  --size-150: 9.375rem;
}

/* ----------------------- MAIN CONTENT STYLES ----------------------- */


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.test-border {
  border: 1px solid red;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  user-select: none;
  background-image: url('../gameboy-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;   
  align-items: center;
  gap: 0px 0px; 
  min-height: 100vh;
}

.app-container {
  grid-column: 2/ span 1;
  height: 100vh;
  border: var(--border);
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(2, 50%);
}



.header {
  grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
}

 .metronome-state-container {
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  justify-items: center;
  border: var(--border);

}

.screen-area-container {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.time-blocks-container {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.time-block {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(14, 14, 14);
  font-size: var(--size-16);
  border: 2px solid var(--colorOne);
  transition: background-color 0.3s;
}

.time-block.active {
  color: var(--colorFour);
  background-color: #0d0d0da8;
}

.bpm-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.bpm-display h1 {
  font-size: var(--size-40);
}

.button-state-container {
  grid-column: 1 / span 2;
  align-self: center;
}



.metronome {
  grid-column: 2 / span 1;
  grid-row: 2/ span 2;
} 




.tempo-settings {
  display: flex;
  justify-content: center;
}

.nes-btn.tempo-btn {
  border-image-repeat: initial;
  background-color: var(--red);
  font-size: var(--fontSizeThree);
  color: var(--colorOne);
  transition-duration: 0.4s;
}

.nes-btn.tempo-btn::after {
  box-shadow: inset -4px -4px #811315;
}

.tempo-btn:hover {
  background: var(--colorOne);
  color: #fff;
}

.slider {
  width: 35vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--colorOne);
  height: 36px;
  width: 20px;
  border-radius: 8px;
  background: var(--colorTwo);
  cursor: pointer;
  margin-top: -15px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--colorOne);
  height: 36px;
  width: 20px;
  border-radius: 8px;
  background: var(--colorTwo);
  cursor: pointer;
  margin-top: -15px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 25rem;
  height: 0.3rem;
  border-radius: 5px;
  background-color: var(--red);
}

input[type="range"]::-moz-range-track {
  width: 25rem;
  height: 0.3rem;
  border-radius: 5px;
  background-color: var(--colorFive);
}

/* ----------------------- START BUTTON STYLES ----------------------- */



/* ----------------------- BEATS STYLES ----------------------- */
.beats {
  font-family: var(--fontTwo);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: auto 50px auto 50px; */
}

.beats button {
  background-color: var(--colorTwo);
  border: none;
  border-radius: 10px;
  font-family: var(--fontTwo);
  font-size: var(--fontSizeTwo);
  color: var(--colorFive);
  padding: 20px;
  width: 5%;
  transition-duration: 0.4s;
  cursor: pointer;
}

.beats button:hover {
  background: var(--colorOne);
  color: #fff;
}

.beats p {
  font-size: 2.5vw;
}

.beatsPerMeasureTxt {
  display: flex;
  justify-content: space-around;
}



/* ----------------------- FORM STYLES ----------------------- */
.formArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 2% 3% 2% 3%; */
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--colorOne);
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorTwo);
  border: none;
  border-radius: 10px;
  font-family: var(--fontTwo);
  font-size: 1.7vw;
  color: var(--colorFive);
  width: 12.5vw;
  height: 7vh;
  transition-duration: 0.4s;
  cursor: pointer;
}

.note:hover {
  background: var(--colorOne);
  color: #fff;
}

#noteBtnContainer {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 1%; */
  width: 55%;
}

.note-textarea {
  display: flex;
  resize: inherit;
  width: 42vw;
  height: 25vh;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--fontTwo);
  font-size: 1.2vw;
}

.timer {
  font-family: var(--fontTwo);
  color: var(--colorOne);
}

/* ----------------------- MISC CONTENT STYLES ----------------------- */
#date {
  font-family: var(--fontTwo);
  font-size: x-large;
  color: var(--colorFive);
}

/* iPhone 12 Portrait */
@media only screen and (min-width: 320px) and (max-width: 650px) and (orientation: portrait) {
  /* ----------------------- MAIN CONTENT STYLES ----------------------- */
}
